.navbar{
    color: aliceblue;
    height: 8svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 100;
}
.ul{
    backdrop-filter: blur(50px);
    padding: 5px;
    border-radius: 55px;
    width: 70%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow:0px 0px 20px -5px rgb(0, 0, 0) inset, 0px 0px 10px -5px white inset;
    transition-duration: 0.5s;
}
.Link{
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    padding: 1%;
    transition-duration: 0.2s;
    cursor: pointer;
    position: relative;
    font-size: 1.2em;
    color: rgb(231, 239, 245);
    text-decoration: none;
    border-radius: 50px;
    position: relative;
    text-decoration: none;
    font-weight: 600;
}

.Link::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0%;
    height: 100%;
    transform: translate(-50%,-50%);
    z-index: -1;
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.523),rgb(27, 59, 85));
    transition: width 0.3s ease-in-out;
    border-radius: 50px;
}

.Link.active::after {
    width: 100%;
}




@media (max-width:600px){
    .navbar{
        width: 100svw;
        position: fixed;
        bottom: 0;
    }
    .ul{
        width: 90%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Link{
        background: transparent;
        font-size: 0.7em;
    }
}