.links {
  height: 70svh;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3737371f;
  background-color: black;
  border-radius: 150px;
  box-shadow: 0px 0px 200px -50px cornflowerblue inset;
}

.inner_links {
  height: inherit;
  width: 80%;
  color: rgb(4, 197, 210);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(3, 2fr);
}

.inner_links p {
  text-align: center;
  font-size: 2.1em;
  background: linear-gradient(45deg,rgba(0, 162, 255, 0.827),rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  cursor: pointer;
  transition-duration: 2s;
  position: relative;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.inner_links p:hover{
  scale: 1.1;
}
.inner_links a{
  text-decoration: none;
}

.l1{
  padding-left: 20px;
  font-size: 1.5em;
}

.side_head{
  color: #ffffff;
  writing-mode: vertical-rl;
  font-size: 5em;
  background: linear-gradient(45deg, cyan, rgb(45, 45, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



@media (max-width:600px) {
  .inner_links p{
    font-size: 1.5em;
  }
  .inner_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    flex-direction: column;
  }
  .links{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .side_head{
    writing-mode: unset;
    font-size: 4em;
  }
}