.tech {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  background-color: #9bc3e664;
  background: linear-gradient(45deg,#9bc3e664,black 80%);
  border-radius: 50px;
  margin-bottom: 100px;
  backdrop-filter: blur(500px);
}

.head {
  font-size: 3.5rem;
  font-weight: 800;
  background: linear-gradient(55deg, rgb(8, 176, 222), rgb(204, 195, 199));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 50px;
  padding: 10px;
}

.inner_tech {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.tech_box {
  background-color: #1b1d1e;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  height: fit-content+10svh;
}

.tech_box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.tech_box h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  background: linear-gradient(45deg, #e3e8d1, #246ca7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.com {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
}

.com_p {
  padding: 10px 5px;
  background-color: transparent;
  border: 1.5px solid #0a73cf;
  border-radius: 12px;
  font-size: 0.95rem;
  text-align: center;
  color: #fefefe;
  word-wrap: break-word;
  transition: background 0.3s;
}

.com_p:hover {
  box-shadow: 10px 10px 10px -5px rgb(8, 119, 216);
  cursor: default;
}

/* Responsive Tweaks */
@media (max-width: 768px) {
  .head {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }

  .tech_box {
    border-radius: 20px;
    padding: 15px;
  }

  .com {
    grid-template-columns: repeat(2, 1fr);
  }

  .com_p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .tech{
    width: 100%;
    height: fit-content;
    padding-bottom: 2em;
    background-color: transparent;
  }

  .head {
    font-size: 1.8rem;
  }

  .tech_box h2 {
    font-size: 1.2rem;
    width: 90%;
  }
  .tech_box{
    width: 90%;
    height: fit-content;
  }

  .com {
    grid-template-columns: 1fr 1fr;
  }
}
