.contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  gap: 20px;
}

.contact_side {
  color: aliceblue;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 5em;
  margin-right: 20px;
}

.inner_contact {
  width: 80%;
  display: flex;
  background-color: rgb(230, 231, 235);
  flex-direction: row;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0px 1px 50000px rgba(21, 59, 81, 0.902);
}

.left_contact,
.right_contact {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.right_contact {
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.c_ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.c_ul li,
.o {
  list-style: none;
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.c_ul a,.right_contact a{
  text-decoration: none;
  color: black;
  font-family:'Courier New', Courier, monospace;
  background: linear-gradient(12deg,rgb(13, 77, 124),black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tri_image {
  max-height: 500px;
  filter: drop-shadow(0px 50px 50px rgba(0, 0, 0, 0.5));
  object-fit: contain;
}

/* Responsive for tablets and phones */
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .contact_side {
    font-size: 3em;
    writing-mode: horizontal-tb;
    transform: none;
    margin: 0;
  }

  .inner_contact {
    flex-direction: column;
    width: 100%;
  }

  .left_contact,
  .right_contact {
    width: 100%;
    padding: 10px;
  }

  .tri_image {
    height: auto;
    width: 80%;
    max-height: 200px;
  }

  .c_ul li,
  .o {
    font-size: 1.2em;
  }
}
