.certificates{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 100px;
  /* background: radial-gradient(circle at 10%, #023b5f, #333 50%, #eeeeeee4 75%, #333 25%); */
  backdrop-filter: blur(10px);
}
.inner_certificates{
  height: 100%;
  width: 80%;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20svh;
}

.cer-left,.cer-right{
  height: 55svh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 40px rgb(26, 55, 104);
  border-radius: 50px;
  position: relative;
  background-color: rgb(21, 21, 21);
  transition-duration: 1s;
}
.cer-right{
  flex-direction: row-reverse;
}
.l-left{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.l-right{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.l-right p{
  width: 80%;
  font-size: 1.25em;
}
.l-left img{
  height: 18rem;
  border-radius: 50px;
}